<div class="form-row">
    <div class="col-lg-12 welcome-message pt-3"><h1><p>Welcome to EXIM Online</p></h1></div>
    <div class="card card-login col-lg-6">
        <h3><p >Sign In</p></h3>
        <div class=" flex-fill">
          <div class="form-group col-lg-6 p-0">
            <label htmlFor="input-email">User Id</label>
            <input type="email" 
                  class="form-input form-control" 
                  id="input-email" 
                  aria-describedby="emailHelp"  required />            
          </div>
          <div class="form-group col-lg-6 p-0">
            <label htmlFor="input-password">Password</label>
            <input type="password" 
                  class="form-input form-control" 
                  id="input-password" required />
            <button type="button" class="btn btn-link p-0 m-0">Forgot Password?</button>                
          </div>
          
          <div class="col-lg-12" >
            <div class="row form-buttons">
              <button type="button" class="btn btn-primary col-sm-3 col-md-3 col-lg-4 login-button" (click)="login()">Log In</button>            
            </div>          
            <div class="row" *ngIf="isClick"><p class="under-construction">Under construction</p></div>
          </div>      
      </div>
    </div>
    
    <div class="card card-register col-lg-6">
        <h3><p>Register</p></h3>
       <div class="form-group col-lg-11 p-0 register-description mb-0 flex-fill">
         <p>If your company is not registered, you must register it in Ex-Im Online, before you can create individual user accounts.</p>
         <p>To register a company: visit <span><button class="btn btn-link pl-0">Ex-Im Online.</button></span></p>        
       </div>
       <div class="form-group col-lg-11 p-0 register-items flex-fill mb-0">
        <ul>
          <li>Click Register for a user account.</li>
          <li>Read and accept Ex-Im Online's Privacy Policy, and follow the prompts to complete registration.</li>
        </ul>           
        <p>Once you have registered your company, you will automatically be directed to create an individual Ex-Im Online user account. Follow the prompts for creating your user account.</p> 
        <p>Your Ex-Im Online user ID and password will enable you to access the new Online Letter of Interest application.</p>
       </div>
      
      <div class="col-lg-12 flex-fill" >
        <div class="row form-buttons">      
            <button class="btn btn-secondary col-sm-3 col-md-3 col-lg-4 register-button" (click)="nav()">Register</button>
        </div>          
      </div>      
    </div>
</div>
