
$appAppleGreen:#82C341;
$appBlue:#033572;
$appWhite:#ffffff;
$appBlack:#000000;
$appRed:#B7473C;

$navWidth:310px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 300px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;